{% include "header.html" %}
{% load static %}

<div class="body-content outer-top-bd">
    <div class="container">
        <div class="sign-in-page inner-bottom-sm">
            <div class="row">
                <!-- Sign-in -->            
<div class="col-md-12 col-sm-12 sign-in">
    <h4 class="">add clothes</h4>
    <form class="register-form outer-top-xs" role="form">
        <div class="form-group">
            <label class="info-title" for="techName">Name <span>*</span></label>
            <input type="text" class="form-control unicase-form-control text-input">
        </div>
        
        <div class="form-group">
            <label class="info-title" for="techFor">For <span>*</span></label>
            <input type="text" class="form-control unicase-form-control text-input">
        </div>
        <div class="form-group">
            <label class="info-title" for="techLocation">Location <span>*</span></label>
            <input type="text" class="form-control unicase-form-control text-input">
        </div>
        <div class="form-group">
            <label class="info-title" for="techPhoto">Photo <span>*</span></label>
            <input type="file" name="pic" accept="image/*">
        </div>
        
        
        <button type="submit" class="col-md-12 col-sm-12 col-lg-12 col-xs-12 btn-upper btn btn-primary checkout-page-button">Add</button>
    </form>                 
</div>
</div><!-- /.row -->
        </div><!-- /.sigin-in-->
        </div><!-- /.container -->
</div><!-- /.body-content -->
{% include 'footer.html' %}