{% include "header.html" %}
{% load static %}
<div class="body-content outer-top-xs">
    <div class='container'>
        <div class='row outer-bottom-sm'>
            <div class='col-md-3 sidebar'>
                <!-- ================================== TOP NAVIGATION ================================== -->
<div class="side-menu animate-dropdown outer-bottom-xs">
    <div class="head"><i class="icon fa fa-align-justify fa-fw"></i> Categories</div>        
    <nav class="yamm megamenu-horizontal" role="navigation">
        <ul class="nav">
            <li class="dropdown menu-item">
                <a href="{% url 'home:clothes' %}" class="dropdown-toggle">Clothes</a>
            </li><!-- /.menu-item -->
            <li class="dropdown menu-item">
                <a href="{% url 'home:tech' %}" class="dropdown-toggle">Tech Accessories</a>
            </li><!-- /.menu-item -->
            <li class="dropdown menu-item">
                <a href="{% url 'home:drugs' %}" class="dropdown-toggle">Medicine</a>
            </li><!-- /.menu-item -->
            <li class="dropdown menu-item">
                <a href="{% url 'home:books' %}" class="dropdown-toggle">Books</a>
            </li><!-- /.menu-item -->

        </ul><!-- /.nav -->
    </nav><!-- /.megamenu-horizontal -->
</div><!-- /.side-menu -->
<!-- ================================== TOP NAVIGATION : END ================================== -->           
            </div><!-- /.sidebar -->
            <div class='col-md-9'>
                    <!-- ========================================== SECTION – HERO ========================================= -->        

            
<!-- ========================================= SECTION – HERO : END ========================================= -->
                <div class="clearfix filters-container m-t-10">
    <img class="home-img" src="{% static 'imagess/Welcome-Text-In-Green-Background.png' %}">
</div>
    

            </div><!-- /.col -->
        </div><!-- /.row -->
</div><!-- /.container -->

</div><!-- /.body-content -->
{% include 'footer.html' %}